<%= render "shared/message/error_messages", resource: user_order %>

<div class="my-3">
  <%= form.label :user_id, class: "app-form-label" %>
  <%= form.text_field :user_id, autofocus: true, autocomplete: "user_id", class: "app-form-input" %>
  <%= field_error(form, :user_id) %>
</div>
