<div class="app-container-normal">
  <% breadcrumb :admin_orders %>

  <h2 class="app-h2">オーダー一覧</h2>

  <div class="my-3">
    <%= render "search" %>
  </div>

  <%= render "list" %>

  <div class="mt-5">
    <%= paginate @user_orders %>
  </div>
</div>
