<div class="app-container-normal">
  <% breadcrumb :admin_user_user_orders, @user %>

  <h2 class="app-h2">ユーザーオーダー一覧</h2>

  <div class="my-5 space-x-3">
    <%= link_to "編集", edit_admin_user_path(@user), class: "app-link-normal" %>
  </div>

  <%= render "list" %>

  <div class="mt-5">
    <%= paginate @user_orders %>
  </div>
</div>
